<h1>Create Post</h1>

<%= form_for @post do |f| %>
	<div>
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<div>
		<%= f.label :picture %>
		<%= f.text_field :picture %>
	</div>
	
	<div>
		<%= f.label :description %>
		<%= f.text_area :description %>
	</div>
		<%= f.collection_check_boxes :tag_ids, @tags, :id, :name %>
	<%= f.submit %>
<% end %>