<h1>Post</h1>

<div class="post">
<img src="<%= @post.picture %>">
	<h2><%= @post.title %></h2>
	<p><%= @post.description %></p>
</div>

<h1>Comments</h1>
			<%= render 'comments/show' %>
        <%= render 'comments/create' %>