<!DOCTYPE html>
<html>
<head>
  <title>Help Me Already</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

</head>
<body>
		<ul class="nav nav-pills">
		  <li role="presentation"><a href="<%= video_path %>">Video Chat</a></li>
		  <li role="presentation"><a href="<%= posts_path %>">Posts</a></li>
		  <li role="presentation"><a href="<%= tags_path %>">Tags</a></li>
		  <li role="presentation"><a href="<%= new_post_path %>">New Post</a></li>
		  <li role="presentation"><a href="<%= new_tag_path %>">New Tag</a></li>
		</ul>


<%= yield %>

</body>
</html>
